include MANIFEST
include README
include LICENSE
include INSTALL
include run_tests
include eto.piqi
include seto.piqi
include smarkets.eto.piqi.proto
include smarkets.seto.piqi.proto
recursive-include tests *.py
