include MANIFEST README LICENSE INSTALL run_tests eto.piqi seto.piqi smarkets.eto.piqi.proto smarkets.seto.piqi.proto
recursive-include tests *.py
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
prune docs/_build
