mock
babel
coverage==3.7.1
decorator
eventlet
flake8==3.2.0
flake8-blind-except==0.1.1
# Lower bound since we use the the smarkets style
flake8-import-order>=0.7
# Injector seems to have dropped py2 compat above this version
injector==0.10.1
iso8601
nose==1.3.0
nose-ignore-docstring
pep8-naming>=0.2.2
protobuf==3.0.0b2
simplejson
six
sphinx
requests
