mock
babel
coverage==3.7.1
decorator
eventlet
flake8
flake8-blind-except
# Upper bound because of https://github.com/public/flake8-import-order/issues/42
+flake8-import-order>=0.4.3, <=0.6.0
injector
iso8601
nose==1.3.0
nose-ignore-docstring
pep8-naming>=0.2.2
simplejson
six
sphinx
requests
